<!--<div class="time"> (<%= moment(tutorial.getLastUpdate()).fromNow() %>)</div>-->
<i class="fa fa-book"></i>
<a href="javascript:void(0);" class="link"><span class="title"><%= tutorial.get('title') %></span></a>
        <% if (tutorial.get('short_description')) {%>
            <span class="short_description"><%= tutorial.get('short_description') %></span>
        <% } %>
<i class="fa fa-hand-o-right hover_displayed"></i> <span class="hover_displayed click_text"></span>
<div class="clearer"></div>