<% if (SmartBlocks.current_user.get('connected') && SmartBlocks.current_user.hasRight('tutorial_writer')) { %>
<a href="javascript:void(0);" class="createtuto pure-button">Create tutorial</a>
<% } %>
<div class="pure-g-r">
    <div class="pure-u-1">
        <ul class="featured_tutorials">

        </ul>
    </div>
    <div class="pure-u-1-5">
        <strong>Latest tutorials</strong>
        <div class="latest_tutorials">

        </div>
    </div>
    <div class="pure-u-1-5">
        <div class="search">
            <input type="text" />
            <div class="tutorials_search_results">

            </div>
        </div>
    </div>
</div>