<% if (SmartBlocks.current_user.get('connected') && SmartBlocks.current_user.hasRight('tutorial_writer')) { %>
<a href="javascript:void(0);" class="createtuto pure-button">Create tutorial</a>
<% } %>
<div class="pure-g-r">
    <div class="pure-u-2-3">
        <div class="search">
            <input type="text" class="search_input" placeholder="Search for tutorials"/>
            <div class="pure-g-r">
                <div class="tutorials_search_results_container pure-u-2-3">
                    <div class="search_results">

                    </div>
                </div>

                <div class="category_filters_container pure-1-3">

                </div>
            </div>
        </div>
    </div>
    <div class="pure-u-1-3">

        <div class="latest_tutorials_container">
            <strong>Latest tutorials</strong>

            <div class="latest_tutorials">

            </div>
        </div>
    </div>
</div>