<div class="input-group search-input-container">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input type="text" class="form-control search_input" placeholder="Search for tutorials">
</div>
<h1>Learn SmartBlocks</h1>
<div class="clearer"></div>
<div class="information">
    Here you can learn about how to use SmartBlocks and published blocks. Use the searchbar to look for tutorials,
    and click on a tutorial below to read it.
</div>
<div class="pure-g-r">
    <div class="pure-u-1-4">
        <div class="categories">
            <div class="category_filters_container">
                <strong>Filter by category</strong>
                <ul class="categories_list"></ul>
            </div>
        </div>
    </div>
    <div class="pure-u-3-4">
        <div class="search">
            <div class="clearright"></div>
            <div class="tutorials_search_results_container">
                <div class="search_results">
                </div>
            </div>
        </div>
    </div>

</div>