.featured_tutorial_thumb {
  margin: 5px;
  padding: 10px;
  background: white;
  width: 400px;

  height: 120px;

  .description {
    margin-left: 110px;
  }

  .title {
    margin-left: 110px;
  }

  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .fth_image_container {
    float: left;

  }
}