.tutorial_line_thumb {
  padding: 20px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.5s;
  margin-bottom: 3px;
  cursor: pointer;

  a {

  }

  .title {
    font-size: 1.6em;

  }

  .hover_displayed {
    display: none;
  }

  &:hover {
    background: rgba(255, 255, 255, 1);
    .hover_displayed {
      display: inline;
    }
  }

  .time {
    float: right;
  }

}